header {
  position: relative;
}


h1 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 0, 0);
  margin: ;
  padding: 0;
  translateX(10);
}

nav {
  width:80%;
  padding: 10%;
  display: inline;
  vertical-align: middle;
}

ul {
  /* list-style: none; */
  padding-left:10%;
}

li{
  float:left;
  list-style:none;
}

li.icon {
  flex-basis: 25%;
}

header {
  background: rgb(0 0 0);
}

a {
  display: block;
  text-align: center;
  margin: 1rem;
  padding: ;
  text-decoration: none;
  font-weight: bold;
  color: rgb(7, 0, 0);
  background: rgb(255, 0, 0);
}

a:hover {
  background: yellowgreen;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body {
font-family: system-ui;
background: #000000;
color: rgb(245, 11, 11);
text-align: center;
}
.scrollBar {width: 80%;height: 600px;margin: 0 auto;overflow-y: scroll;}
.scrollBar::-webkit-scrollbar {
/* 스크롤바의 너비 */
width: 20px;  
}
.scrollBar::-webkit-scrollbar-thumb {
/* 스크롤바의 길이 */
height: 30%; 
/* 스크롤바의 색상 */
background: yellow;
border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
/*스크롤바 뒷 배경 색상*/
background: white;
border-radius: 10px;
}
  
