*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background: white;
  color: fuchsia;
  text-align: center;
}

header {
  position: relative;
  background-color: white;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: black;
  font-size: 50px;
  padding: 0;
}

/* scrollbar */
.scrollBar {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  overflow-y: scroll;
  border: 5px solid;
  color: black;
}

.scrollBar::-webkit-scrollbar {
  width: 20px;  
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 10%; 
  background: gray;
}

.scrollBar::-webkit-scrollbar-track {
  background: lightgray;
}

/* input */
input {
  background-color: white;
  width: 70%;
  height: 50px;
  background-color: lightgray;
  color: black;
  border: 3px solid black;
  border-radius: 8px;
  padding-inline-start: 1%;
  font-size: large;
}

/* button */
button {
  background-color: white;
  width: 3%;
  height: 50px;
  background-color: lightgray;
  color: black;
  border: 3px solid black;
  border-radius: 8px;
  font-size: larger;
}