<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel = "stylesheet" href="/static/style.css" type = "text/css"
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>

<body>
  <header>
    <h1>SJVirus</h1>
    
    <h2>
      <div class="scrollBar">
        <p>
          test_1 [ ip ]
        </p>
        <p>
          test_2 [ ip ]
        </p>
        <p>
          test_3 [ ip ]
        </p>
        <p>
          test_4 [ ip ]
        </p>
        <p>
          test_5 [ ip ]
        </p>
        <p>
          test_6 [ ip ]
        </p>
        <p>
          test_7 [ ip ]
        </p>
        <p>
          test_8 [ ip ]
        </p>
        <p>
          test_9 [ ip ]
        </p>
        <p>
          test_10 [ ip ]
        </p>
        <p>
          test_11 [ ip ]
        </p>
        <p>
          test_12 [ ip ]
        </p>
        <p>
          test_13 [ ip ]
        </p>
        <p>
          test_14 [ ip ]
        </p>
        <p>
          test_15 [ ip ]
        </p>
      </div>
    </h2>

    <div position="fixed" style="bottom:0px; left:100px; width:100%;">
      <input id="input" type="text" placeholder="Input Your Command">
      <button id="button">&gt</button>
    </div>
  </header>
</body>
</html>