<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel = "stylesheet" href="SjVirus.css" type = "text/css"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Render 승진 바이러스</title>
</head>
<body style="margin:0;padding:0;">
    
    <header>
        <h1>SJVirus
          
        </h1>
        <h2>
          <div class="scrollBar" style="border:1px solid white;border-radius:10px;">
          <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
            <p>
            I'm super shy, super shy
            
          </p>
        </div>
      </h2>
        <nav>
          <ul>
            <li><a href="#">메뉴 1</a></li>
            <li><a href="#">메뉴 2</a></li>
            <li><a href="#">메뉴 3</a></li>
            <li><a href="#">메뉴 4</a></li>
            <li><a href="#">메뉴 5</a></li>


           
      
          </ul>
          
        </nav>
  <div position="fixed" style="bottom:0px;left:100px;width:100%">
    <input type="text" style="width:80%;font-size:30px;">
    <button style="font-size:30px;width:40px;">&gt</button>
  </div>
        
      </header>


    
        
        
    
</body>
</html>
